aiohttp==3.6.2
async-timeout==3.0.1
attrs==20.2.0
certifi==2020.6.20
chardet==3.0.4
emoji==0.6.0
idna==2.10
multidict==4.7.6
requests==2.11.1
typing-extensions==3.7.4.3
urllib3==1.25.8
yarl==1.6.0
autocorrect==2.2.2
wikipedia==1.4.0
pyrebase
IMDbPY==2020.9.25
schedule==0.6.0
pycrypto==2.6.1
pycryptodome==3.4.3
pycryptodomex==3.6.1
Pyrogram
TgCrypto
pymongo==3.11.2
dnslib==0.9.10
dnspython==1.16.0
apscheduler
bs4==0.0.1
wget==3.2

